.logo {
  height: 45px;
  width: 45px;
}

//mobile
@media (max-width: 560px) {
  body {
    max-width: 560px;
  }

  header{
    background-color: $header-background-color;
    height: 10vh;
    width: 100vw;
    // @include button-effects();
    @include reset-list-style();
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: flex-start;
      a {
        padding: 5px;
      }
    }
    div {
      display: flex;
      align-items: flex-end;
      a {
      padding: 10px;
      }
    }
  }

  aside {
    background-color: $aside-background-color;
    width: 100%;
    display: flex;
    // flex-flow: column wrap;
    ul{
      padding-inline-start: 0px;
      display: flex;
      justify-content: center;
    }
    li {
      padding: 15px;
    }
    p {
      text-align: center;
    }

  }
  #kp{
    display: none;
  }

  main {
    min-height: 80vh;
    background-color: $main-background-color;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    form {
      
      div {
        padding: 15px;
        display: flex;
        flex-flow: column wrap;
      }
    }
  }
  footer {
    background-color: $footer-background-color;
    height: 10vh;
    width: 100vw;
    div {
      display: flex;
      justify-content: center;

    }
  }
//-------------------------Results Main-------------------
  #resultSection{
    width:100%;
    // justify-content: center;
    display: flex;
    flex-direction: column;
  }
  #pwndSide{
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    align-items: center;
  }
  #socialSide{
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    align-items: center;
  }
  .PwndResult{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: 2px black solid;
    h3{
      color: darkgoldenrod;
      text-decoration: underline;
    }
    a{
      color:blue;
    }
    *{
      font-size: 1.2em;
    }
    div {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
    }
  }
  .SocialResult{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px black solid;
    h3{
      color: darkgoldenrod;
      text-decoration: underline;
    }
    a{
      color: lightblue;
    }
    *{
      font-size: 1.2em;
    }
    div {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
    }
  }
//--------------------------------------------------------
  .logoImg{
    height: 25px;
    width: 25px;
  }

  .Image {
    width: 75px;
    height: 100px;
  }

  //------- About Us Moblie -------------------
  #aboutUs{
    margin-top: 5px;
    margin-left: 8px;
    h3{
      font-size: 1.3em;
    }
    p{
      font-size: 1.1em;
    }
    a{
      color: blue;
    }
  }
}
//desktop *******************
@media (min-width: 561px ) {
  body {
    max-width: 960px;
  }
  header{
    background-color: $header-background-color;
    height: 10vh;
    width: 100vw;
    @include reset-list-style();
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: flex-start;
      a {
        padding: 10px;
      }
    }
    div {
      display: flex;
      align-items: flex-end;
      a {
      padding: 10px;
      }
    }
  }

  aside {
    background-color: $aside-background-color;
    width: 20%;
    display: flex;
    flex-flow: column wrap;
    .logo{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    #promise{
      margin-top: 50px;
      margin-right: 10px;
    }
    p{
      margin-top: 10px;
    }
    li {
      padding: 15px;
    }
  }

  main {
    min-height: 80vh;
    background-color: $main-background-color;
    width: 80%;
    @include center-content();
    display: flex;
    flex-flow: column wrap;
    form {
      @include center-content();
      div {
        padding: 15px;
      }
    }
  }
  footer {
    background-color: $footer-background-color;
    height: 10vh;
    width: 100vw;
    @include center-content();
  }
//-------------------------Results Desktop-------------------
  #resultSection{
    width:100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  #pwndSide{
    display: flex;
    width: 50%;
    flex-flow: column wrap;
    align-items: center;
  }
  #socialSide{
    display: flex;
    width: 50%;
    flex-flow: column wrap;
    align-items: center;
  }
  .PwndResult{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: 2px black solid;
    h3{
      font-size: 1.8em;
      color: darkgoldenrod;
      text-decoration: underline;
    }
    a{
      color:lightblue;
    }
    *{
      font-size: 1.1em;
      margin-left: 10px;
    }
    div {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
    }
  }
  .SocialResult{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px black solid;
    h3{
      font-size: 1.8em;
      color: darkgoldenrod;
      text-decoration: underline;
    }
    a{
      color: lightblue;
    }
    p {
      padding: 10px;
    }
    *{
      font-size: 1.2em;
    }
    div {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
    }
  }
//--------------------------------------------------------
  .logoImg{
    height: 25px;
    width: 25px;
  }

  .Image {
    width: 100px;
    height: 125px;
  }

  //------- About Us Desktop -------------------
  #aboutUs{
    margin-top: 5px;
    margin-left: 8px;
    h3{
      font-size: 1.3em;
      color: rgb(222, 170, 38);
    }
    p{
      font-size: 1.1em;
    }
    a{
      color: blue;
    }
    img{
      width: 125px;
      height: 135px;
    }
  }
}