.logo {
  height: 45px;
  width: 45px;
}


@media (max-width: 560px) {
  
}
@media (min-width: 561px ) {
  body {
    max-width: 960px;
  }
  header{
    background-color: $header-background-color;
    height: 10vh;
    width: 100vw;
    // @include button-effects();
    @include reset-list-style();
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: flex-start;
      a {
        padding: 10px;
      }
    }
    div {
      display: flex;
      align-items: flex-end;
      a {
      padding: 10px;
      }
    }
  }

  aside {
    background-color: $aside-background-color;
    width: 20%;
    display: flex;
    flex-flow: column wrap;
    li {
      padding: 15px;
    }
  }

  main {
    min-height: 80vh;
    background-color: $main-background-color;
    width: 80%;
    @include center-content();
    display: flex;
    flex-flow: column wrap;
    form {
      @include center-content();
      div {
        padding: 15px;
      }
    }
  }
  footer {
    background-color: $footer-background-color;
    height: 10vh;
    width: 100vw;
  }

  #resultSection{
    width:100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  #pwndSide{
    display: flex;
    width: 50%;
    flex-direction: column;
  }
  #socialSide{
    display: flex;
    width: 50%;
    flex-direction: column;
  }
  .PwndResult{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: 2px black solid;
    h3{
      color: darkgoldenrod;
      text-decoration: underline;
    }
    a{
      color:blue;
    }
    *{
      font-size: 1.2em;
    }
  }
  .SocialResult{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px black solid;
    h3{
      color: darkgoldenrod;
      text-decoration: underline;
    }
    a{
      color:blue;
    }
    *{
      font-size: 1.2em;
    }
  }
}

  .logoImg{
    height: 25px;
    width: 25px;
  }

  .Image {
    width: 100px;
    height: 125px;
  }

}
